

.device-group::before {
    content: attr(group-label)"\a";
    white-space: pre;
    background-color: #016343;
    padding: 5px;
}

.group-device-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}


.collapse-open::after {
    position: absolute;
    content: '';
    width: 5px;
    height: 100%;
    left: 0;
    background-color: yellow;
    top: 0;
}



/* check device on chart */

.on-chart::before {
    position: absolute;
    content: 'Biểu đồ';
    padding: 3px;
    font-size: 1rem;
    background-color: green;
    color: #fff;
    bottom: 0;
    right: 0;
}
