.device-group .label-group-content {
    background-color: #016343;
    padding: 10px;
    font-size: 2rem;
}

.group-device-item {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}



/* check device on chart */

.on-chart::before {
    position: absolute;
    content: 'Biểu đồ';
    padding: 3px;
    font-size: 1rem;
    background-color: green;
    color: #fff;
    bottom: 0;
    right: 0;
}