.group-wrapper {
    margin-bottom: 15px;
}

.group-label {
    font-size: 2rem;
    color: #039666;
    margin-bottom: 15px;
}

.group-item {
    border-bottom: solid 1px #016343;
    border-left: solid 1px #016343;
    padding-bottom: 5px;
}

.tab-controll {
    border-bottom: solid 2px #016343;
}

.tab-link {
    font-size: 1.5rem;
    border-radius: 0;
    outline: none;
    border: none;
    padding: 15px;
    margin: 0px 0px 5px;
    color: white;
    background-color: #016343;
}

.tab-active {
    background-color: #039666;
}

.tab-content {
    margin-top: 15px;
}

.device-type-controll {
    position: relative;
    font-size: 1.5rem;
    border-radius: 0;
    outline: none;
    border: none;
    padding: 10px;
    margin: 5px;
    color: white;
    background-color: #016343;
}

.device-group {
    padding-top: 2px;
    margin: 5px;
    position: relative;
    border: solid 1px #016343;
    margin-top: 15px;
}

.device-group::before {
    content: attr(group-label)"\a";
    white-space: pre;
    background-color: #016343;
    padding: 5px;
}

.group-device-item{
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.device-item {
    padding: 12px;
    font-size: 1.3rem;
    border-radius: 0;
    outline: none;
    border: none;
    margin: 10px;
    color: white;
    background-color: #016343;
    text-align: left;
    text-overflow: ellipsis;
    position: relative;
    flex: 0 0 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.device-item-dynamic-value{
    flex: 1 0 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.device-item-dynamic-value .device-item-battery,
.device-item-dynamic-value .device-item-rssi{
    flex: 1 0 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.device-item-dynamic-value .device-item-battery *,
.device-item-dynamic-value .device-item-rssi *{
    padding-right: 5px;
}


.device-item-dynamic-value .device-item-value {
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
    flex: 1 0 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-top: 5px;
}

.device-item-value .icon{
    flex: 1 0 100%;
    text-align: left;
}

.device-item-value .value-wrapper{
    flex: 1 0 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.device-item-value .value-wrapper .value{
    flex: 1 0 70%;
    overflow: hidden;
}

.device-item-value .value-wrapper .uom{
    flex: 1 0 30%;
}

.device-item-name {
    flex: 1 0 100%;
}

.collapse-open::after {
    position: absolute;
    content: '';
    width: 5px;
    height: 100%;
    left: 0;
    background-color: yellow;
    top: 0;
}


/* device status */

.status-1::after {
    position: absolute;
    content: 'Online';
    color: #42ff42;
    top: 0;
    right: 0;
    padding: 3px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7);
}

.status-2::after {
    position: absolute;
    content: 'Sleep';
    color: #fbff04;
    top: 0;
    right: 0;
    padding: 3px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7);
}

.status-0::after {
    position: absolute;
    content: 'Offline';
    color: #ff0000;
    top: 0;
    right: 0;
    padding: 3px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7);
}

.uom-wrapper {
    padding: 8px;
}

.list-uom {
    background-color: black;
    border: none;
    min-width: 200px;
    font-weight: bold;
}

.chart-title {
    width: 100%;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

.chart-wrapper {
    position: relative;
}

.chart-canvas {
    max-height: 400px;
}


/* check device on chart */

.on-chart::before {
    position: absolute;
    content: 'Biểu đồ';
    padding: 3px;
    font-size: 1rem;
    background-color: green;
    color: #fff;
    bottom: 0;
    right: 0;
}

.quick-time-list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.quick-time-list .quick-time-item {
    padding: 5px 10px 5px;
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 5px;
    width: 50px;
    text-align: center;
    cursor: pointer;
    position: relative;
    color: #fff;
}

.quick-time-list .quick-time-label {
    padding: 5px 10px 5px;
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 5px;
    text-align: center;
    color: #fff;
}

.high-light-box::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 3px #1ee05a;
}